body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:100%;
    width:100%;
    text-align: center;
}

.form-group {
    margin:10px 0;
    text-align: center;
}

input[type="number"] {
    margin:10px 0;
    width:100%;
    font-weight: bold;
    text-align: center;
}

input[type="radio"] {
    margin:10px 0;
    font-weight: bold;
    text-align: center;
}

input[type="submit"] {
    width:100%;
}

label {
    font-weight: bold;
}

.result {
    border-radius: 20px;
    margin-bottom:10px;
}

.bmiResult {
    text-align: center;
}

.content {
    text-align: center;
}

.underweight {
    background-color: rgb(172, 255, 255);
    border:1px solid aqua;
}

.healthy {
    background-color: rgb(172, 255, 179);
    border:1px solid rgb(0, 255, 72);
}

.overweight {
    background-color: rgb(255, 243, 172);
    border:1px solid rgb(255, 225, 0);
}

.obesity {
    background-color: rgb(255, 172, 172);
    border:1px solid rgb(255, 0, 0);
}
