

.button {
    width:30px;
    height:30px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.toggleBtn {
    width:130px;
    height:50px;
    border-radius: 20px;
    border:1px solid #000;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(to right, #FFFF00, #00F0FF);
    box-shadow: 2px 2px 2px 0;
}

.toggleBtn:active {
  box-shadow: 0 0 0 0;
  margin-left:3px;
  margin-top:3px;
}

input {
    visibility: hidden;
}

.sun {
    background-color:#FFFF00;
    position:absolute;
    width:25px;
    height:25px;
    border-radius: 50%;
    top:50%;
    left:15%;
    transform: translateY(-50%);
}
.ray {
    position: absolute;
    width: 2px;
    height: 17px;
    background-color: #FFFF00;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
  }

  .ray:nth-child(1) {
    transform: translate(-50%, -100%) rotate(0deg);
  }

  .ray:nth-child(2) {
    transform: translate(-50%, -100%) rotate(25deg);
  }

  .ray:nth-child(3) {
    transform: translate(-50%, -100%) rotate(50deg);
  }

  .ray:nth-child(4) {
    transform: translate(-50%, -100%) rotate(70deg);
  }

  .ray:nth-child(5) {
    transform: translate(-50%, -100%) rotate(90deg);
  }

  .ray:nth-child(6) {
    transform: translate(-50%, -100%) rotate(115deg);
  }

  .ray:nth-child(7) {
    transform: translate(-50%, -100%) rotate(140deg);
  }

  .ray:nth-child(8) {
    transform: translate(-50%, -100%) rotate(165deg);
  }

  .ray:nth-child(9) {
    transform: translate(-50%, -100%) rotate(190deg);
  }

  .ray:nth-child(10) {
    transform: translate(-50%, -100%) rotate(215deg);
  }

  .ray:nth-child(11) {
    transform: translate(-50%, -100%) rotate(240deg);
  }

  .ray:nth-child(12) {
    transform: translate(-50%, -100%) rotate(265deg);
  }

  .ray:nth-child(13) {
    transform: translate(-50%, -100%) rotate(290deg);
  }

  .ray:nth-child(14) {
    transform: translate(-50%, -100%) rotate(315deg);
  }

  .ray:nth-child(15) {
    transform: translate(-50%, -100%) rotate(340deg);
  }


.moon {
    position: relative;
    overflow: hidden;
    width: 28px;
    height: 28px;
    top:10px;
    left:65%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    filter: blur(0.5px);
    visibility:hidden;
}
.hole {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    background-color:#c9c9c9;
}
.darkSide {
    background-color:#000000;
    width:100%;
    height:100%;
    border:none;
    border-radius: 50%;
    position:absolute;
    top:7px;
    left:7px;
    transform: translate(-50%, -50%);
    z-index:1;
}

.hole:nth-child(2) {
    top:0;
    left:60%;
}

.hole:nth-child(3) {
    top:60%;
    left:70%;
}

.hole:nth-child(4) {
    top:60%;
    left:6%;
}

.hole:nth-child(5) {
    top:40%;
    left:30%;
}


#button:checked + .toggleBtn .sun {
    animation: fadeOut 0.5s ease-in-out forwards;
}
  
#button:checked + .toggleBtn .moon {
    animation: fadeIn 0.5s ease-in-out forwards;
}
#button + .toggleBtn .moon {
    animation: fadeOut 0.5s ease-in-out forwards;
}
  
#button + .toggleBtn .sun {
    animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text {
    position:absolute;
    left:50%;
    top:20%;
    transform: translateX(-50%);
}

.darkModeon {
  transition: 0.5s;
  background-color:#666;
}

.darkModeoff {
  transition: 0.5s;
  background-color:#fff;
}
