body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e8e8e8;
}

.container {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
}

.resumeSection {
    text-align: center;
    margin:65px 0;
    border:1px solid #666;
    border-left: none;
    border-right: none;
    border-top: none;
}

.selectInput {
    display: flex;
    gap:15px;
}

.select {
    height:35px;
    position:relative;
    top:7px;
}

.resumeSection .form-group {
    margin:15px 0;
    border:0.1px solid #b2b2b2;
}

.resumeSection h1 {
    font-size: 20px;
}

textarea {
    width:100%;
    height:150px;
    text-align: left;
    font-weight: bold;
}

input {
    width:100%;
    padding:10px 0;
    margin:5px 0;
    text-align: center;
    font-weight: bold;
}

input:focus {
    outline: none;
}

input[type="submit"] {
    width:100%;
    background-color: #95ffa5;
}
input[type="submit"]:hover {
    transition: .3s;
    background-color: rgb(0, 255, 51);
    cursor: grab;
}

input[type="submit"]:not(:hover) {
    transition: .3s;
    cursor: grab;
}

ul {
    list-style: none;
    padding:0;
}

.textArea {
    position:relative;
    text-align: left;
    font-weight: bold;
}

.error {
    font-weight: bold;
    background-color: #ffa7a7;
    color:#fff;
    border:0.1px solid #ff0000;
}

.alert {
    text-align: center;
    font-weight: bold;
    border-radius: 9px;
    width:100%;
    color:#000;
}

.success {
    background-color: #98ffb7;
    border:0.1px solid #00ff33;
}

.failed {
    background-color: #ff9898;
    border:0.1px solid #ff0000;
}

.myResume {
    background-color: #fff;
    border:0.1px solid #000;
    border-radius: 10px;
    width:100%;
    height:100%;
    display:grid;
}
  
  .form-group {
    margin:3px 0;
  }
  
  .header {
    display:grid;
    grid-template-columns: 50% 50%;
    margin:0 15px;
  }
  
  .header .left {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    width:85%;
  }

  .header .right {
    text-align: left;
  }

  @media (min-width: 482px) and (max-width: 1057px) {
    .header {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header .left {
        text-align: center;
    }

    .right li {
        text-align: center;
    }
  }

  @media (max-width: 481px) {
    .header {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header .left {
        text-align: center;
    }

    .right li {
        text-align: center;
    }
  }
  
  .left span {
    position:relative;
    left:25px;
    top:35px;
    color:#676767;
  }
  
  .left p {
    font-size: 20px;
    position:relative;
    left:25px;
    top:15px;
    color:#a5a5a5;
  }
  
  .myResume .form-group h2 {
    text-transform: uppercase;
    text-align: left;
    position:relative;
    left:25px;
    font-size: 13px;
    color:#828282;
    text-decoration: underline 0.7px;
  }
  
  .header .right {
    text-align: left;
  }
  
  .right ul {
    list-style: none;
    padding:0;
  }
  
  .right li {
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    margin:5px 0;
  }
  
  .name {
    position:relative;
    right:160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
  }
  
  .summary p {
    text-align: left;
    position: relative;
    left:35px;
    width:85%;
  }
  
  .certifications p {
    text-align: left;
    position: relative;
    left:35px;
    width:85%;
  }
  
  .experience p {
    text-align: left;
    position: relative;
    left:35px;
    width:85%;
  }
  
  .skills h3 {
    font-size: 15px;
    width:80%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
  }
  
  .skills ul {
    list-style: none;
    padding:0;
  }
  
  .skills li {
    font-weight: 600;
    text-align: center;
  }
  
  .language {
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .language p {
    text-align: left;
    position: relative;
    left:35px;
    width:85%;
    margin:10px 0;
  }
  
  .education ul {
    list-style: none;
    padding:0;
  }
  
  .education li {
    margin:10px 0;
    text-align: left;
    position: relative;
    left:35px;
    width:85%;
    font-weight: 600;
  }