body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display:flex;
    width:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.programming h1 {
    position:relative;
    left:0;
}

.words .span {
    font-size:25px;
    text-transform: uppercase;
    margin-left:20px;
    width:171px;
    margin:20px 0;
    background: linear-gradient(to right, #eaff00, #bfc900, #6aff00);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

.span {
    position:absolute;
    top:8px;
    transition:0.3s;
    opacity: 0;
}

.showSpan {
    transition:0.3s;
    opacity: 1;
}