:root {
    --primary-bg-color: linear-gradient(to bottom, #fff 20%, #0077ffc9);
    --primary-btn-color: linear-gradient(to bottom, #0077ffc9 10%, #003878fd);;
    --chat-btn-color: linear-gradient(to bottom, #00a2ff 10%, #acd3fffd);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    display: flex;

}

body {
    background-color: #0062ff1a;
    color:#0059ff;
}

::selection {
    background: none;
    color:#000000;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    line-height: 2.5; /* Ensure this is applied correctly */
    width:100%;
    text-align: center;
}

.container form {
    width:50%;
    position:relative;
    left:50%;
    transform: translateX(-50%);
}

form input[type="submit"]
{
    padding:15px;
    width:30%;
}