body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.failed {
    background-color: #ffa4a4;;
    border: 1px solid #ff0000;
    border-radius: 10px;
    width:100%;
    color:#fff;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lf {
    font-size: 20px;
}